In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [2]:
# Importation des données et informations sur les champs
df = pd.read_csv('news.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6335 entries, 0 to 6334
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6335 non-null   int64
 1   title       6335 non-null   object
 2   text        6335 non-null   object
 3   label       6335 non-null   object
dtypes: int64(1), object(3)
memory usage: 198.1+ KB

In [3]:
# Affichage des 18 prémières valeurs
df.head(18)

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL
5,6903,"Tehran, USA","\nI’m not an immigrant, but my grandparents ...",FAKE
6,7341,Girl Horrified At What She Watches Boyfriend D...,"Share This Baylee Luciani (left), Screenshot o...",FAKE
7,95,‘Britain’s Schindler’ Dies at 106,A Czech stockbroker who saved more than 650 Je...,REAL
8,4869,Fact check: Trump and Clinton at the 'commande...,Hillary Clinton and Donald Trump made some ina...,REAL
9,2909,Iran reportedly makes new push for uranium con...,Iranian negotiators reportedly have made a las...,REAL
10,1357,"With all three Clintons in Iowa, a glimpse at ...","CEDAR RAPIDS, Iowa — “I had one of the most wo...",REAL
11,988,Donald Trump’s Shockingly Weak Delegate Game S...,Donald Trump’s organizational problems have go...,REAL
12,7041,"Strong Solar Storm, Tech Risks Today | S0 News...",Click Here To Learn More About Alexandra's Per...,FAKE
13,7623,10 Ways America Is Preparing for World War 3,"October 31, 2016 at 4:52 am \nPretty factual e...",FAKE
14,1571,"Trump takes on Cruz, but lightly","Killing Obama administration rules, dismantlin...",REAL
15,4739,How women lead differently,"As more women move into high offices, they oft...",REAL
16,7737,Shocking! Michele Obama & Hillary Caught Glamo...,Shocking! Michele Obama & Hillary Caught Glamo...,FAKE
17,8716,Hillary Clinton in HUGE Trouble After America ...,0 \nHillary Clinton has barely just lost the p...,FAKE

In [4]:
# Présentation de la taille de la base de données
df.shape

(6335, 4)

In [5]:
# Création de la liste des features numériques et des features catégoriques
num_features = df.select_dtypes(include =['int64','float64']).columns
cat_features = df.select_dtypes(include =['object']).columns

In [6]:
# Recherche des valeurs manquantes
df.isnull().sum()

Unnamed: 0    0
title         0
text          0
label         0
dtype: int64

In [7]:
# Importation de la bibliothèque d'encodage
from sklearn.preprocessing import LabelEncoder
la = LabelEncoder ()

In [8]:
# Transformation des categorical features en numerical features
for i in cat_features:
    df[i] = la.fit_transform(df[i])

In [9]:
# Affichage des premières valeurs de la dataset
df.head(10)

   Unnamed: 0  title  text  label
0        8476   6155  1514      0
1       10294   5747  2185      0
2        3608   2946  5165      1
3       10142    653  5991      0
4         875   4788  2733      1
5        6903   4742   117      0
6        7341   2054  4168      0
7          95   6187   613      1
8        4869   1783  2280      1
9        2909   2669  2643      1

In [10]:
# Décomposition de la dataset en observations et en valeurs à prédire
x = df.drop(['label'],axis = 1)
y = df['label']

In [11]:
# Affichage des cinqs premières observations
x.head(5)

   Unnamed: 0  title  text
0        8476   6155  1514
1       10294   5747  2185
2        3608   2946  5165
3       10142    653  5991
4         875   4788  2733

In [12]:
# Affichage des cinq prémières valeurs à prédire
y.head(5)

0    0
1    0
2    1
3    0
4    1
Name: label, dtype: int32

In [13]:
# Transformation de ces deux sous datasets en Liste
x = x.values
y = y.values

In [14]:
#Décomposition de la dataset en deux parties à savoir la partie d'entrainement train(80%) et la partie test(20%)
x_train = x[1267:x.shape[0],:]
y_train = y[1267:x.shape[0]]

x_test = x[0:1267,:]
y_test = y[0:1267]

In [15]:
# Application de l'algorithme de la regression linéaire pour entrainer le model
regressor = LinearRegression()

regressor.fit( x_train , y_train )

LinearRegression()

In [16]:
#Test de prédiction sur les données de test
y_pred = regressor.predict(x_test)

In [17]:
# Affichage du résultat du test
y_pred

array([ 0.03623208, -0.21876569,  0.7493863 , ...,  0.39643313,
        0.62720104,  0.4933572 ])

In [18]:
y_test

array([0, 0, 1, ..., 0, 1, 1])